bin
obj
test.sy
test.ll
test.s
test.bin
test_output
.cache
.vscode
frontend/parser/location.hh
frontend/parser/lexer.cpp
frontend/parser/lexer.h
frontend/parser/yacc.cpp
frontend/parser/yacc.h
compile_commands.json
test.sy
XXX.ll
XXX.o
XXX1.ll
XXX1.o
example.riscv.s
tmp.o
a.out

.
!.gitignore
!.clang-format
